$primary: #2e2e2e; // $primary: #1abc9c; // #6bb6cd;

$body-bg: #f2f2f2;
$body-color: #333333;

$card-bg: #ffffff;
$card-color: $body-color;

$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$font-family-serif: 'IBM Plex Serif', serif;
$font-family-mono: 'IBM Plex Mono', monospace;
$font-family-condensed: 'IBM Plex Sans Condensed', sans-serif;

$font-size-base: 1rem;
$line-height-base: 1.6;

$spacer: 2rem;
